<div id="popup-tpl" class="row">
  <img width="130" src="assets/icons/station.svg" class="col-md-4"/>
  <div id="popup-station-infos" class="col-md-8">
    <p><strong>{{n}}</strong></p>
    <p class="city">{{ct}} - {{c}}</p>
  </div>
</div>
